@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic ',  sans-serif
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.623);
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0, 255, 76), rgb(0, 173, 216));
}  

.fundo{
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 255, 76, 0.400), rgb(0, 173, 216, 0.400)), url(pexels-andrea-piacquadio-3807755.jpg);
    background-size: cover;
    background-position:center center ;
    width: 100%;
    height: 600px;
}

.texto1{
    position: absolute;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-color: rgba(119, 119, 119, 0);
    top: 55%;
    
    border-radius: 20px;
}

.paragrafo{
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
    top: 30%;
    left: 10%;
    
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 3.2em;
    color: rgb(255, 255, 255);
    user-select: none;
    margin-left: -110px;
    
}

.navega a {
    position: relative;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-weight: 500;
    margin-left: 30px;
}

.navega a::after{
    content: '';
    position:absolute;
    bottom: -6px;
    left:0;
    width:100% ;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transform-origin: center ;
    transform: scaleX(0);
    transition:transform .4s;

}

.navega a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

.navega .butao {
    width: 150px;
    height: 50px;
    background: transparent;
   border: 2.5px solid rgb(255, 255, 255);
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   font-size: 1.4em;
   color: rgb(255, 255, 255);
   font-weight: 500;
   margin-left: 35px;
   transition: .5s;
}

.navega .butao:hover{
    background:rgb(255, 255, 255);
    color: rgb(0, 173, 216);
}



.imgb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(0, 0, 0); ;
    display: flex;
    justify-content: center;
    align-items: center;
}





.div1{
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 252, 252, 0), rgba(4, 228, 142, 0.712)), url(pexels-tirachard-kumtanom-733856.jpg);
    background-size: cover;
    background-position:center center ;
    width: 550px;
    height: 360px;
    top: 100%;
    left: 5%;
    border-radius: 10px;
    display: inline-block;
}

.div2{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    width: 500px;
    top: 115%;
    left: 52%;
    border-radius: 10px;
    
}

.escrita{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2em;
    text-align: justify;
    color: white;
}

.div3{
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-position:center center ;
    width: 100%;
    height: 360px;
    top: 170%;
    
}

.paragrafo2{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    text-align: justify;
    background-image: linear-gradient(to right, rgb(4, 212, 67), rgb(0, 173, 216));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    top: 10%;
    left: 35%;
    word-spacing: 10px;

}

.zap{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 42% ;
    left: 40%;

}

.insta{
    position: absolute;
    width: 140px;
    height: 140px;
    top: 39% ;
    left: 55%;
}


.div4{
    position: absolute;
    background-color: rgb(250, 2, 2);
    background-position:center center ;
    width: 100%;
    height: 360px;
    top: 220%;
    
}

.livro{
    height: 95px;
    width: 95px;
    margin-left: -60px;
}

.fim{
    position: absolute;
    background-color: rgb(4, 204, 187);
    background-position:center center ;
    width: 100%;
    height: 70px;
    top: 220%;
}

.final{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    text-align: justify;
    color: white;
    top: 10%;
    text-align: center;
    margin-top: 12px;
}

